/*#google_translate_element {
  position: absolute;
  bottom: calc(53px + 16px);
  right: 16px !important;
}*/
.space {
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
.space-1 {
  height: 1em;
}
.space-2 {
  height: 2em;
}
.space-3 {
  height: 3em;
}
.space-4 {
  height: 4em;
}
.space-5 {
  height: 5em;
}
.space-6 {
  height: 6em;
}
.space-7 {
  height: 7em;
}

body {
  top: 0 !important;

  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, span, label {
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif !important;
}

a:focus {
  outline: 0;
}

.outer {
  background-color: #ffffff;
  /* box-shadow: 1px 1px 5px #8e8e8e; */
}

.outer .left_filters .place_drops, .outer .left_filters .all_cat_inr {
  background-color: #fff;
  box-shadow: 1px 1px 5px #8e8e8e;
  padding: 15px;
  margin-bottom: 20px;
}

.outer .left_filters .place_drops label {
  text-transform: uppercase;
  font-size: 13px;
  color: #2e3841;
}

.outer .left_filters .place_drops .dis {
  margin-bottom: 20px;
}

.ui.search.dropdown {
  min-width: auto;
  width: 100%;
  border: 1px solid #372afe;
  border-radius: 5px;
}

.outer .left_filters .all_cat h5 {
  background-color: #2e3841;
  box-shadow: 1px 1px 5px #8e8e8e;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
}

.outer .left_filters .all_cat ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.outer .left_filters .all_cat ul li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #efefef;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
}

.outer .left_filters .all_cat ul li a {
  color: #2e3841;
  display: block;
  position: relative;
}

.outer .left_filters .all_cat .sin_cat .cat_img {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 10px;
}

.outer .left_filters .all_cat .sin_cat p {
  display: inline-block;
  margin-bottom: 0;
  color: #222;
  font-weight: 500;
}

.outer .left_filters .all_cat .sin_cat .circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fecf0c;
  right: 0;
  top: 40%;
  opacity: 0;
}

.outer .left_filters .all_cat .sin_cat a.active .circle {
  opacity: 1;
}

.outer .left_filters .all_cat .all_cat_inr .all_cat_subset ul li.sin_cat p {
   margin-left: 50px;
  font-size: 12px;
  color: #ff8400;
}

.outer .left_filters .all_cat_inr h3 {
  font-size: 15px;
}

.outer .left_filters .all_cat ul li.expand.ex_more_li {
  color: #007bff;
  cursor: pointer;
}

.outer .left_filters .all_cat ul li.expand.ex_more_li:hover {
  color: #2130ba;
}

/*Filters In Modal*/

.modal.left_filters .modal-header {
  background-color: #00539e;
}

.modal.left_filters .modal-header .modal-title {
  font-weight: 400;
}

.modal.left_filters .place_drops {
  margin-bottom: 0;
}

.modal.left_filters .all_cat, .modal.left_filters .all_cat_inr, .modal.left_filters .all_cat ul {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 0;
}

.modal.left_filters .all_cat ul li.sin_cat {
  display: block;
  width: 50%;
  float: left;
}

.modal.left_filters .all_cat .sin_cat .cat_img {
  width: 25px;
  height: 25px;
}

.modal.left_filters .all_cat .sin_cat p {
  font-size: 12px;
}

.modal.left_filters .all_cat_inr {
  height: 70vh;
  overflow-y: auto;
  z-index: 999999999999;
}

.modal.left_filters .all_cat_inr::-webkit-scrollbar {
  width: 0;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

/*
################
End Left Filters
################
*/

.cbn_item_outer .hero_qwert {
  padding: 0;
  margin-bottom: 20px;
}

.cbn_item_outer .search_resu {
  background-color: #2e3841;
  padding: 5px;
  float: left;
  width: 100%;
}

.cbn_item_outer .search_resu p.se {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 0;
}

.cbn_item_outer .search_resu p.co_cbn span {
  color: #fecf0c;
}

.cbn_item_outer .search_resu p.co_cbn {
  color: #fff;
  text-align: right;
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 0;
  float: right;
}

#crumbs {
  text-align: center;
  display: flex;
  padding-left: 0;
}

#crumbs ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

#crumbs ul li {
  display: inline;
}

#crumbs ul li a {
  display: block;
  float: left;
  height: 20px;
  background: #d2d2d2;
  text-align: center;
  padding: 0px 10px 0 15px;
  position: relative;
  margin: 0 5px 0 0;
  font-size: 12px;
  text-decoration: none;
  color: #8093A7;
}

#crumbs ul li a:after {
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #d2d2d2;
  position: absolute;
  right: -10px;
  top: 0;
  z-index: 1;
}

#crumbs ul li a:before {
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}

#crumbs ul li:first-child a:before {
  display: none;
}

#crumbs ul li a:hover {
  background: #fecf0c;
  color: #2e3841;
}

#crumbs ul li a:hover:after {
  border-left-color: #fecf0c;
  color: #2e3841;
}

#crumbs ul li a svg {
  top: 5%;
  position: relative;
}

/*
################
End Top Item
################
*/

.cbn_item_outer .cbn_item_inr {
  margin-top: 20px;
}

.cbn_item_outer .cbn_item_inr .qwert_block {
  margin-bottom: 30px;
}

.cbn_item_outer .cbn_item_inr .qwert_block .sin_block {
  background-color: #fff;
  box-shadow: 1px 1px 5px #e0e0e0;
  padding: 10px;
  position: relative;
}

.cbn_item_outer .cbn_item_inr .qwert_block .prof_img {
  background-image: url(../img/default.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  display: inline-block;
  vertical-align: top;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail {
  display: inline-block;
  margin-left: 10px;
  position: relative;

}

.cbn_item_outer .cbn_item_inr .qwert_block .detail p.nm {
  color: #2e3841;
  letter-spacing: 0.5px;
  font-size: 15px;
  margin-bottom: 5px;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .pl {
  color: #8e8e8e;
  font-size: 12px;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .pl .ic {
  display: inline-block;
  vertical-align: middle;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .pl p {
  display: inline-block;
  margin-left: 5px;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .main_cat {
  display: inline-block;
  margin: 10px 0;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .main_cat .cat_img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-color: #fecf0c;
  border-radius: 50%;
  padding: 5px;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .main_cat p {
  display: inline-block;
  color: #2e3841;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .o_wrk ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .o_wrk ul li {
  display: inline-block;
  padding: 0 3px;
}

.cbn_item_outer .cbn_item_inr .qwert_block .detail .o_wrk ul li img {
  width: 20px;
}

.cbn_item_outer .cbn_item_inr .qwert_block .sin_block .fx_cl {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 5px;
  bottom: 5px;
  background-color: #2e3841;
  border-radius: 50%;
  padding: 11px;
  font-size: 18px;
  left: auto;
  color: #fff;
}

.cbn_item_outer .cbn_item_inr .qwert_block .sin_block:hover {
  box-shadow: 1px 1px 5px #b8b8b8;
}
.cbn_item_outer .cbn_item_inr .qwert_block .sin_block .fx_cl:hover {
  background-color: #2e3841;
  box-shadow: 3px 3px 10px #8e8e8e;
  transform: translateY(-2%);
}


.cbn_item_inr .no-results {
  background-color: #fe4e0a;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.cbn_item_inr .suggestions {
  background-color: #fafafa;
  color: #000;
  padding: 15px;
  text-align: left;
}

.pagination {
  justify-content: center;
}

/*
################
End Single Block Ad
################
*/

.quick_view .modal-header {
  padding: 0;
  margin-bottom: 80px;
  border: 0;
}

.quick_view .close {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 9;
  font-size: 2rem;
}

.quick_view .card {
  z-index: 1;
  position: relative;
  /*width: 300px;
  height:400px;*/
  margin: 0 auto;
  /*margin-top:100px;*/
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition:    all 0.7s ease-in-out;
  -o-transition:      all 0.7s ease-in-out;
  -ms-transition:     all 0.7s ease-in-out;
/*
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.2);
*/
}

.quick_view .banner {
  z-index: 2;
  position: absolute;
  /*margin-top: -154px;*/
  width:100%;
  height:165px;
  background-image: url("../img/modal_bg.jpg");
  background-size: cover;

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition:    all 0.7s ease-in-out;
  -o-transition:      all 0.7s ease-in-out;
  -ms-transition:     all 0.7s ease-in-out;
}

.quick_view .photo {
  z-index: 3;
  position: relative;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-image: url("../img/default.jpg");
  background-size: cover;
  background-position: 50% 50%;
  top:75px;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  -webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
  -moz-transition:    top 0.7s ease-in-out, background 0.15s ease;
  -o-transition:      top 0.7s ease-in-out, background 0.15s ease;
  -ms-transition:     top 0.7s ease-in-out, background 0.15s ease;
}

.quick_view .modal-body {
  text-align: center;
}

.quick_view .modal-body h3 {
  color: #2e3841;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.quick_view .modal-body h4 {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-top: 0;
}

.g_hr {
  height: 1px;
  background-color: #fecf0c;
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(left , white 2%, #fecf0c 50%, white 98%);
  background-image: -o-linear-gradient(left , white 2%, #fecf0c 50%, white 98%);
  background-image: -moz-linear-gradient(left , white 2%, #fecf0c 50%, white 98%);
  background-image: -webkit-linear-gradient(left , white 2%, #fecf0c 50%, white 98%);
  background-image: -ms-linear-gradient(left , white 2%, #fecf0c 50%, white 98%);
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, #fecf0c), color-stop(0.98, white) );
}

.quick_view  .main_cat {
  display: inline-block;
  margin: 30px 0 20px;
}

.quick_view  .main_cat .cat_img {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-color: #fecf0c;
  border-radius: 50%;
  padding: 5px;
}

.quick_view  .m_detail {
  text-align: left;
  padding: 0 5%;
}

.quick_view  .main_cat .cat_spec {
  display: inline-block;
  vertical-align: middle;
}

.quick_view  .main_cat .cat_spec p {
  display: block;
  color: #2e3841;
  font-size: 18px;
  margin-bottom: 2px;
}

.quick_view  .main_cat .cat_spec span {
  display: block;
  color: #8e8e8e;
  font-size: 12px;
}

.quick_view  .m_detail .o_skill, .quick_view  .m_detail .w_areas {
  margin-bottom: 10px;
}

.quick_view  .m_detail .o_skill p, .quick_view  .m_detail .w_areas p {
  margin-bottom: 0;
  font-size: 15px;
  color: #2e3841;
}

.quick_view  .m_detail .o_skill span, .quick_view  .m_detail .w_areas span {
  font-size: 12px;
  color: #8e8e8e;
}

.contact-button {
  text-align: center;
  margin: 20px 0;
}

.ssn-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #fecf0c;
  padding: 5px 15px;
  color: #2e3841;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

#ssn-cover {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #2e3841;
  color: white;
  opacity: 1;
  -webkit-transition: all 1s, -webkit-transform 1s;
  transition: all 1s, transform 1s;
  padding: 5px;
  top: 0;
  font-size: 12px;
}

.ssn-container:hover #ssn-cover {
  right: -95%;
  -webkit-transition: all 1s, -webkit-transform 1s;
  transition: all 1s, transform 1s;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#ssn-cover p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 12px;
  margin-top: 3px;
}

.quick_view .modal-footer {
  background-color: #fecf08;
  border: 0;
  justify-content: center;
}

.quick_view .modal-footer:hover {
  background-color: #2e3841;
}

.quick_view .modal-footer a {
  color: #2e3841;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.quick_view .modal-footer:hover a {
  color: #fff;
}

.quick_view .modal-footer a > span {
  margin-right: 5px;
}

/*
################
End Single Block Quick Modal
################
*/

#yellow_flame {
  /*position: absolute;*/
  /*margin-top: -154px;*/
  width:100%;
  height:40px;
  background-image: url("../img/single_flame.png");
  background-size: cover;

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition:    all 0.7s ease-in-out;
  -o-transition:      all 0.7s ease-in-out;
  -ms-transition:     all 0.7s ease-in-out;
}
#blue_flame{
    /*position: absolute;*/
  /*margin-top: -154px;*/
  width:100%;
  height:150px;
  background-image: url("../img/single_flame.png");
  background-size: cover;
  filter: hue-rotate(20deg);

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition:    all 0.7s ease-in-out;
  -o-transition:      all 0.7s ease-in-out;
  -ms-transition:     all 0.7s ease-in-out;
}

.single_qwert .left_prof .photo {
  z-index: 3;
  position: relative;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-image: url("../img/default.jpg");
  background-size: cover;
  background-position: 50% 50%;
  /*top:75px;*/
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  -webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
  -moz-transition:    top 0.7s ease-in-out, background 0.15s ease;
  -o-transition:      top 0.7s ease-in-out, background 0.15s ease;
  -ms-transition:     top 0.7s ease-in-out, background 0.15s ease;
}

.single_qwert .left_prof label {
  background-color: #fecf08;
  border-radius: 30px;
  padding: 5px;
  color: #2e3841;
  width: 70%;
  margin-top: 20px;
}

.single_qwert .right_details .nm {
  text-align: left;
}

.single_qwert .right_details .nm h3 {
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #2e3841;
  font-weight: 400;
  margin-bottom: 5px;
}

.single_qwert .right_details .nm p {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #8e8e8e;
  font-weight: 300;
}

.single_qwert .right_details .cat .main_cat {
  /*display: inline-block;*/
  margin: 30px 0 20px;
}

.single_qwert .right_details .cat .main_cat .cat_img {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-color: #fecf0c;
  border-radius: 50%;
  padding: 10px;
}

.single_qwert .right_details .cat .m_detail {
  text-align: left;
  padding: 0 5%;
}

.single_qwert .right_details .cat .main_cat .cat_spec {
  display: inline-block;
  vertical-align: middle;
}

.single_qwert .right_details .cat .main_cat .cat_spec p {
  display: block;
  color: #2e3841;
  font-size: 16px;
  margin-bottom: 2px;
}

.single_qwert .right_details .cat .main_cat .cat_spec span {
  display: block;
  color: #8e8e8e;
  font-size: 12px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0 1px 0 #a2a2a2;
}
.star-ratings-css {
  display: inline-block;
}

.star-ratings-css-top {
  color: #fac917;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bass-rating-text {
  font-size: 10px;
  box-shadow: none;
  text-shadow: none;
}

.star-ratings-css-top span {
  color: #fac917;
  display: inline;
}

.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

.star-ratings-css-bottom span {
  color: #c5c5c5;
}

.single_qwert .right_details .cat .rh {
  position: relative;
}

.single_qwert .right_details .cat .g_hr {
  position: absolute;
  left: -40px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #222;
  background-image: linear-gradient(top , white 2%, #222 50%, white 98%);
  background-image: -o-linear-gradient(top , white 2%, #222 50%, white 98%);
  background-image: -moz-linear-gradient(top , white 2%, #222 50%, white 98%);
  background-image: -webkit-linear-gradient(top , white 2%, #222 50%, white 98%);
  background-image: -ms-linear-gradient(top , white 2%, #222 50%, white 98%);
  background-image: -webkit-gradient( linear, top bottom, right bottom, color-stop(0.02, white), color-stop(0.5, #222), color-stop(0.98, white) );
}

.single_qwert .right_details .o_skill, .single_qwert .right_details .w_areas {
  margin-bottom: 20px;
}

.single_qwert .right_details .o_skill p, .single_qwert .right_details .w_areas p {
  color: #2e3841;
  font-size: 16px;
  margin-bottom: 5px;
}

.single_qwert .right_details .o_skill p > span, .single_qwert .right_details .w_areas p > span {
  margin-left: 10px;
}

.single_qwert .right_details .o_skill span.ty, .single_qwert .right_details .w_areas span.ty {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 13px;
}

.single_qwert .right_details .both .w_areas {
  display: inline-block;
  margin-right: 40px;
}

.single_qwert .right_details .mobile_view {
  background-color: #eaeaea;
  padding: 15px;
}

.single_qwert .right_details .mobile_view a:hover {
  color: #2e3841;
}

.single_qwert .right_details .mobile_view .contact-button {
  margin: 5px 0 0;
}

.single_qwert .right_details .share_view p {
  margin-bottom: 5px;
}

.single_qwert .right_details .share_view ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.single_qwert .right_details .share_view ul li {
  padding: 5px 0;
  display: inline-block;
}

.single_qwert .right_details .share_view ul li a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.single_qwert .right_details .share_view ul li a:hover {
  color: #00539e;
}

.single_qwert .right_details .share_view .ic {
  display: inline-block;
  color: #2f3841;
  margin-right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 8px;
  vertical-align: middle;
  background-color: #00539e;
}

.single_qwert .right_details .share_view ul li a:hover .ic {
  background-color: #2f3841;
  color: #fff;
}

.single_qwert .right_details #report {
  color: #f00;
  float: right;
}

.single_qwert .right_details #report span {
  margin-left: 5px;
}

.single_qwert .right_details .g_hr {
  width: 100%;
  background-color: #222;
  background-image: linear-gradient(left , white 2%, #222 50%, white 98%);
  background-image: -o-linear-gradient(left , white 2%, #222 50%, white 98%);
  background-image: -moz-linear-gradient(left , white 2%, #222 50%, white 98%);
  background-image: -webkit-linear-gradient(left , white 2%, #222 50%, white 98%);
  background-image: -ms-linear-gradient(left , white 2%, #222 50%, white 98%);
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, #222), color-stop(0.98, white) );
}

.single_qwert .right_details .review_view .review {
  display: inline-block;
  border: 1px solid #ececec;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px #ececec;
}

.single_qwert .right_details .review_view .usr_prof {
  z-index: 3;
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  /*margin: 0 auto;*/
  display: inline-block;
  left: 0;
  right: 0;
  background-image: url("../img/default.jpg");
  background-size: cover;
  background-position: 50% 50%;
  vertical-align: top;
  /*top:75px;*/
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
  -webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
  -moz-transition:    top 0.7s ease-in-out, background 0.15s ease;
  -o-transition:      top 0.7s ease-in-out, background 0.15s ease;
  -ms-transition:     top 0.7s ease-in-out, background 0.15s ease;
}

.single_qwert .right_details .review_view .inr_review {
  display: inline-block;
  width: 90%;
  margin-left: 15px;
}

.single_qwert .right_details .review_view .inr_review p {
  font-size: 12px;
  color: #8e8e8e;
  letter-spacing: 0.5px;
}

.single_qwert .right_details .review_view .inr_review p:nth-child(1) {
  font-size: 16px;
  color: #2f3841;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.single_qwert .right_details .review_view .inr_review p > span {
  font-size: 12px;
  color: #8e8e8e;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.single_qwert .add_review {
  border: 1px solid #ececec;
  box-shadow: 1px 1px 5px #ececec;
  padding: 15px;
}

.single_qwert .profile_form {
  width: 550px;
  /*margin: auto;*/
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.single_qwert .form-horizontal .control-label {
  padding: 5px;
  text-align: left;
}

.add_review .profile_form .rate {
  /*text-align: center;*/
  margin-bottom: 20px;
}

.add_review .profile_form input, .add_review .profile_form textarea {
  border: 0;
  box-shadow: none;
  /*border-bottom: 1px solid #e39801;*/
  background-color: #2f3841;
  color: #fafafa;
  border-radius: 0!important;
  padding: 5px 12px;
  font-size: 12px;
}

.add_review .profile_form input:focus, .add_review .profile_form textarea:focus {
  color: #fff;
}

.rating_widget {
  padding: 0;
  margin: 0;
  /*text-align: center;*/
}

.rating_widget li {
  line-height: 0;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  margin-left: 2px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.rating_widget li span {
  display: none;
}

.single_qwert .profile_sub {
  text-transform: uppercase;
  color: #2f3841;
  border-radius: 30px;
  background-color: #00539e;
  padding: 5px 40px;
}

/*
################
End Single Ad
################
*/

#fill_form .contact_form {
  width: 600px;
    margin: auto;
    padding: 15px;
    background: #F7F7F7;
    color: #000;
    margin-bottom: 4vh;
}

#fill_form .contact_form input, #fill_form .contact_form textarea {
  border-radius: 0;
}

#fill_form .contact_form .ui.search.dropdown, #fill_form .contact_form .form-control {
  border: 0;
    border-radius: 5px;
    background-color: #e2e2e2;
    color: #000;
    width: 100%;
}

#fill_form .contact_form .ui.search.dropdown:focus, #fill_form .contact_form .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 188, 0, 0.38)
}

#fill_form .contact_form .yellow-button {
  background-color: #00539e;
  border-radius: 5px;
  padding: 10px 60px;
  color: #2f3841;
  border: 0;
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
}

#fill_form .contact_form .yellow-button:hover {
  background-color: #fff;
  color: #000;
}

/*
################
Fill Form
################
*/

@font-face {
  font-family: 'Kaushan Script', cursive;
  src: url(https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro);
  font-weight: 400;
  font-style: normal
}

#thank_content {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

#thank_content h1 {
  font-family: 'Kaushan Script', cursive !important;
  font-size: 5rem;
  color: #2f3841;
}

#thank_content .t-logo {
  width: 200px;
  margin: auto;
}

/*
################
Thank You
################
*/

#inner-content ul, #inner-content h3, #inner-content h2 {
  width: 100%;
}

@font-face {
  font-family: 'tamilwebfontregular';
  src: url(https://hodabass.lk/assets/fonts/tamil/bamini_plain-webfont.woff2) format('woff2'), url(https://hodabass.lk/assets/fonts/tamil/bamini_plain-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
.tamil {
  font-family: 'tamilwebfontregular'!important;
}
.english {
  font-family: 'arial';
}

/*
################
Login Form
################
*/
.login-pg .panel {
  margin: 20px 0
}

.login-pg .panel .panel-body {
  padding: 10px
}

.login-pg .panel .panel-body .pleft,
.login-pg .panel .panel-body .pright {
  margin-top: 20px;
  margin-bottom: 20px
}

.login-pg .panel .panel-body .pleft a>img {
  width: 50%;
  /*margin-top: 10%*/
}

.login-pg .panel .panel-body .pleft h4 {
  color: #fec108;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px 0 20px
}

.login-pg .panel .panel-body .pleft span {
  margin-left: 10px
}

.login-pg .panel .panel-body .pleft .billboard {
  margin-bottom: 20px;
  padding: 0;
  margin-top: 5%
}

.login-pg .panel .panel-body .pleft .billboard img {
  width: 50px
}

.login-pg .panel .panel-body .pright {
  text-align: center
}

.login-pg .panel .panel-body .pright form {
  width: 80%;
  margin: auto
}

.login-pg .panel .panel-body .pright form input {
  border-radius: 0
}

.login-pg .social_logins {
  padding: 0
}

.login-pg .social_logins .button {
  width: 50%;
  display: inline-block;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 0;
  text-decoration: none;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear
}

.login-pg .social_logins .button:hover {
  text-decoration: none;
  color: #f7f7f7
}

.login-pg .social_logins .button--social-login {
  margin-bottom: 12px;
  margin-right: 12px;
  color: white;
  height: 30px;
  line-height: 27px;
  position: relative;
  text-align: left
}

.login-pg .social_logins .button--social-login .icon {
  margin-right: 12px;
  font-size: 17px;
  line-height: 22px;
  width: 32px;
  height: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px
}

.login-pg .social_logins .button--social-login .icon:before {
  display: inline-block;
  width: 30px
}

.login-pg .social_logins .button--social-login .icon:after {
  content: ""
}

.login-pg .social_logins .button--facebook {
  background-color: #4b70ab;
  border: 1px solid #3b5988
}

.login-pg .social_logins .button--facebook .icon {
  border-right: 1px solid #3b5988
}

.login-pg .social_logins .button--facebook .icon:after {
  border-right: 1px solid #6b8bbe
}

.login-pg .social_logins .button--facebook:hover {
  background-color: #436499
}

.login-pg .social_logins .button--twitter {
  background-color: #3b94d9;
  border: 1px solid #257abc
}

.login-pg .social_logins .button--twitter .icon {
  border-right: 1px solid #257abc
}

.login-pg .social_logins .button--twitter .icon:after {
  border-right: 1px solid #66abe1
}

.login-pg .social_logins .button--twitter:hover {
  background-color: #2988d2
}

.login-pg .social_logins .button--googleplus {
  background-color: #dd4b39;
  border: 1px solid #c23321
}

.login-pg .social_logins .button--googleplus .icon {
  border-right: 1px solid #c23321
}

.login-pg .social_logins .button--googleplus .icon:after {
  border-right: 1px solid #e47365
}

.login-pg .social_logins .button--googleplus:hover {
  background-color: #d73925
}

.login-pg .social_logins .or-spacer {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  position: relative
}

.login-pg .social_logins .or-spacer .mask {
  overflow: hidden;
  height: 20px
}

.login-pg .social_logins .or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black
}

.login-pg .social_logins .or-spacer span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white
}

.login-pg .social_logins .or-spacer span i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #999
}

.login-pg .social_logins .or-spacer-vertical {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  position: relative
}

.login-pg .social_logins .or-spacer-vertical .mask {
  overflow: hidden;
  width: 20px;
  height: 200px
}

.login-pg .social_logins .or-spacer-vertical.left .mask:after {
  content: '';
  display: block;
  margin-left: -20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black
}

.login-pg .social_logins .or-spacer-vertical.right .mask:before {
  content: '';
  display: block;
  margin-left: 20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black
}

.login-but {
  background: #f85c37 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: rgba(255,255,255,1);
  font-weight: 500;
  letter-spacing: .75px;
  line-height: 0;
  padding: 20px;
  text-align: center;
  transition: all .2s ease-out 0s;
  display: block;
  text-transform: uppercase;
}
.login-but:hover {
  background: #2f3841 none repeat scroll 0 0;
  color: rgba(255,255,255,1);
}
.sign-but {
  background: #ffc107 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: rgba(255,255,255,1);
  font-weight: 500;
  letter-spacing: .75px;
  line-height: 0;
  padding: 20px;
  text-align: center;
  transition: all .2s ease-out 0s;
  display: block;
  text-transform: uppercase;
}


/*
################
User Dashboard
################
*/

.main_cat {
  text-align: center;
}

.main_cat h4 {
  font-size: 30px;
  color: #747474;
  margin-bottom: 0;
}

.main_cat h4 > span {
  margin-left: 10px;
}

.main_cat h5 {
  font-size: 18px;
  color: #a8a8a8;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
}

.main_cat .cat_item a {
  /* background-color: #f78d28; */
  background-color: #053342;
  color: #c30909e6;
  padding: 15px 10px;
  float: left;
  width: 100%;
  height: 100%;
}

.main_cat .cat_item a:hover {
  background-color: #094c62;
  text-decoration: none;
}

.main_cat .cat_item a:hover > .main_cat .cat_item .cat_item_inr span{
  color: #000 !important;
}

.main_cat .cat_item a:hover img {
  transform: scale(1.03);
  transition: 1s;
}

.main_cat .cat_item img {
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  transition: 1s;
}

.main_cat .cat_item .cat_item_inr span {
  color: #fff;
  font-size: 14px;
  /* letter-spacing: 0.5px; */
  margin: 3px 2px;
  display: block;
  /* border: 1px solid #025a60; */
  /* border-radius: 4px; */
}

/*
################
Change Password
################
*/
.user_form .cus_form.pw_chng.left {
  margin: 5vh auto;
  padding: 0;
  background-color: #fff;
  /*text-align: center;*/
  background-image: none;
  align-items: center;
  width: 30%;
  border: 2px solid #e0e0e0;
  padding: 20px;
}
.user_form .cus_form.det_chng.left {
  margin: 5vh auto;
  padding: 0;
  background-color: #fff;
  /*text-align: center;*/
  background-image: none;
  align-items: center;
  width: 60%;
  border: 2px solid #e0e0e0;
  padding: 20px;
}

.user_form .cus_form.pw_chng.left h4 {
  text-align: center;
  margin-top: 0;
}

.user_form .cus_form.det_chng.left h4 {
  margin-top: 10px;
  font-size: 20px;
}

.user_form .cus_form .l_ic {
  /* width: 150px;
  margin: auto;
  margin-bottom: 20px; */
  color: #2e3841;
}

.user_form .cus_form .l_ic img {
  width: 100%;
}

.user_form .cus_form .chng_img img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  object-fit: cover;

}

.user_form .cus_form.det_chng.left .sign-but {
  display: inline-block;
}


/*
################
Add Service
################
*/
.my_service .bl-cl {
  color: #2e3841;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.my_service .full_category {
  padding: 20px 20px 0px;
  border: 2px solid #e0e0e0;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

/*==========*/
.activeact {
  font-weight: bold;
  color: yellow;
}

.no-border {
  border: none;
}

.view_red {
  padding: 0px;
  margin: 0px;
}

.no_bus {
  color: brown;
  font-size: 11px;
}

.bt-main {
  background: green;
  text-align: center;
  color: white;
  cursor: pointer;
}

.bt-main:hover {
  background: #83e12cb3;
}

#wk_addbutton:hover {
  background: #4a8f20e6;
}

.subcat_addbutton {
  color: #252323;
}

.lodingspin {
  text-align: center;
}

.maincat_selected {
  font-size: 10px;
  color: #222;
}

.maincategory_set {
  visibility: hidden;
}

.set-main-cat {
  border-radius: 0px;
}

.set-main-cat i {
  color: white;
}

.no-border {
  border: none;
}

.upload-category-preview {
  /* display: inline-block;
  vertical-align: top; */
  margin-bottom: 10px;
}

.upload-category-preview .panel-heading {
  background-color: #02427b;
  border-bottom: none;
}

.upload-category-preview .panel-body {
  border: 1px solid #2e3841;
  border-top: none;
}

.btn-xxs {
  /* width: 24px;
  float: right;
  margin-left: 4px; */

  width: auto;
    padding: 0 5px;
    float: right;
    margin-left: 4px;
}

.res_del_view_subcat li {
  list-style: none;
  background-color: #f1f1f1;
  border: 1px solid white !important;
  padding: 5px 10px;
  font-size: 12px;
}

.view_red {
  padding: 0px;
  margin: 0px;
}

.no_bus {
  color: brown;
  font-size: 11px;
  margin-left: 5px;
}

.bt-main {
  background: green;
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.bt-main:hover {
  background: #83e12cb3;
}

.bt-del {
  background: red;
  text-align: center;
  color: white;
  cursor: pointer;
}

.bt-del:hover {
  background: brown;
}

#wk_addbutton:hover {
  background: #4a8f20e6;
}

.maincat_selected_name {
  color: white;
}

.activeact .maincat_selected_name {
  color: #fff;
}

.res_del_view_cat {
  font-weight: bold;
  padding: 8px 10px;
  color: white;
  font-size: 12px;
}


.res_del_view_cat.activeact {
  color: #fffafa;
  background-color: #033663;

}

.maincategory_m .main-sub {
  color: #2e3841;
  margin: 0 0 10px;
  border-radius: 0;
  border: 1px solid #d6d6d6;
  padding: 2px 10px;
  display: block;
  cursor: pointer;
  font-size: 13px;
  background-color: white;
}

.topic {
  background: #2e3841;
  font-weight: 600;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0;
  margin-bottom: 20px;
}

.topic label {
  margin-bottom: 0;
}

.sub_cta_list {
  border: 1px solid #cecece;
  border-radius: 2px;
  margin: 3px 0px;
}

#wk_addbutton {
  background: #043f22e6;
  border: none;
  padding: 5px 12px;
  border-radius: 2px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.lodingspin.set {
  text-align: center;
  width: 200px;
  background: #1d0f0f;
  margin: 0 auto;
  padding: 12px 17px;
  top: 50%;
  position: relative;
}

.lodingfullwidth {
  position: fixed;
  background: rgba(0, 0, 0, 0.99) !important;
  /* height: 100%; */
  opacity: .9;
  color: #cc4040;
  padding: 12px;
  height: 100%;
  width: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: 99999;
  font-size: 47px;
}

.setloadsinfull {
  top: 50vh;
  position: absolute;
  left: 50vw;
}

.empty label {
  font-weight: unset;
  color: #f00;
  font-size: 12px;
}

.us-info {
  background: #7a1478;
  padding: 5px 8px;
  font-size: 14px;
  color: white;
}

.disable-ele {
  opacity: .2;
  /* background: #bea5bfe6 !important; */
}

.white {
  color: white !important;
}

.updt34 {
  padding: 20px 20px 0px;
    border: 2px solid #e0e0e0;
    margin-bottom: 20px;
}

.title-er {
  background: #fecd09;
  padding: 5px 10px;
}

.fl_img {
  width: 35px;
  height: 36px;
  padding: 5px 4px;
  /* border-left: 1px solid #877a7a; */
  /* background: white; */
  margin: 4px;
}

#subcat-main-div {
  position: fixed;
  top: 0px;
  background-color: rgba(15, 15, 15, 0.9);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#sub-cat-div {
  width: 350px;
  background: white;
  margin: 0 auto;
  top: 25%;
  padding: 20px;
  border-radius: 0;
  border: 1px solid #222;
}

#close_addbutton {
  background: red;
  color: white;
}

.clickable {
  cursor: pointer;
}

.panel {
  border: #cecece;
}

.panel-user>.panel-heading {
  background-color: #1a2226;
  border-color: #1a2226;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

.panel-user>.panel-heading:hover {
  background-color: #cecece;
  border-color: #cecece;
  cursor: pointer;
  color: #222;
}

.panel-user>.panel-heading h3, .panel-user>.panel-heading label {
  margin: 0;
  font-size: 13px;
}

#working_areas_tg_pn .btn {
  background-color: #f00;
  padding: 3px 10px;
  border-radius: 50px;
  color: #fff;
}
#working_areas_tg_pn .btn:hover {
  background-color: #1a2226;
}

#main_sel_lbl {
  background-color: #1a2226;
  padding: 5px 10px;
  color: #fff;
  border-radius: 50px;
  margin-bottom: 0;
}

.panel-user>.panel-body {
  border: 1px solid;
  padding: 10px;
}

.skin-black .main-header>.navbar>.sidebar-toggle {
  border-right: none;
  color: white;
}

.skin-black .main-header>.logo {
  border-right: none;
}

.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a,
.skin-black .main-header>.navbar .navbar-right>li>a {
  border-left: none;
  color: white;
}

.skin-black .main-header>.navbar .nav>li>a:hover,
.skin-black .main-header>.navbar .nav>li>a:active,
.skin-black .main-header>.navbar .nav>li>a:focus,
.skin-black .main-header>.navbar .nav .open>a,
.skin-black .main-header>.navbar .nav .open>a:hover,
.skin-black .main-header>.navbar .nav .open>a:focus,
.skin-black .main-header>.navbar .nav>.active>a {
  background: transparent;
  color: #999;
}

.panel-default>.panel-heading.bnr_ad_head {
  background-color: #333;
}

.alert-search {
  border: 2px solid red!important;
}

.btn_grp {
  display: inline-block;
}

.btn_sub {
  background: #f85c37 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: rgba(255,255,255,1);
  font-weight: 500;
  letter-spacing: .75px;
  line-height: 0;
  padding: 20px 40px;
  text-align: center;
  transition: all .2s ease-out 0s;
  display: block;
  text-transform: uppercase;
}

.btn_sub:hover {
  background: #2f3841 none repeat scroll 0 0;
}

#btn_update.btn_sub {
  background: #21ba45 none repeat scroll 0 0;
}

#btn_update.btn_sub:hover {
  background: #2f3841 none repeat scroll 0 0;
}

.top_up_re_new {
  width: 500px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.user_profile_work {
  text-align: center;
  margin-bottom: 20px;
}

.user_profile_work img {
  width: 100%;
}

.user_profile_work_det p.top_pr {
  background-color: #fecd09;
  margin-bottom: 15px;
  padding: 5px;
}

.user_profile_work_det span.top_dy {
  color: #f00;
  font-size: 10px;
  background-color: #fff;
  padding: 0px 5px;
  text-align: center;
  width: auto;
  float: right;
}

.user_profile_work_det p > span {
  width: 40%;
  font-weight: 600;
  color: #222;
  display: inline-block;
}

.user_profile_work_det form {
  background-color: #f1f1f1;
  padding: 10px;
}

.user_profile_work_det .result_price {
  margin: 15px 0;
}

.user_profile_work_det .result_price .tag_p {
  margin-bottom: 10px;
}

.user_profile_work_det .result_price .tag_p span:nth-child(2) {
  font-weight: 400;
}

.user_profile_work_det .apply_top_up {
  background: #f85c37 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: rgba(255,255,255,1);
  font-weight: 500;
  letter-spacing: .75px;
  line-height: 0;
  padding: 18px 40px;
  text-align: center;
  transition: all .2s ease-out 0s;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.user_profile_work_det .apply_top_up:hover {
  background: #2f3841 none repeat scroll 0 0;
}

.ex_more_li{
  text-align: center;
}

.cat_img img{
  padding: 1px 1px;
}

.wk-map-marker svg{
  color: #ff5555;
}

.single_qwert .right_details .o_skill p.ty, .single_qwert .right_details .w_areas p.ty {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 13px;
  white-space: pre-wrap;
}

/*
################
Uploading
################
*/

.loading {
  -webkit-animation:fadein;
     -moz-animation:fadein;
       -o-animation:fadein;
          animation:fadein;
          display: none;
          z-index: 999999999999;
}
@-moz-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@-webkit-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@-o-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}

.spinner-wrapper {
  min-width:100%;
  min-height:100vh;
  height:100%;
  top:0;
  left:0;
  background:rgba(222, 222, 222, 0.93);
  position:fixed;
  z-index:999999999999;
}

.spinner-text {position:absolute;top:41.5%;left:47%;margin:16px 0 0 35px;font-size:9px;font-family:Arial;color:#222;letter-spacing:1px;font-weight:700}
.spinner {
  margin:0;
  display:block;
  position:absolute;
  left:45%;
  top:40%;
  border:25px solid rgba(0, 0, 0, 0.55);
  width:1px;
  height:1px;
  border-left-color:transparent;
  border-right-color:transparent;
  -webkit-border-radius:50px;
     -moz-border-radius:50px;
          border-radius:50px;
  -webkit-animation:spin 1.5s infinite;
     -moz-animation:spin 1.5s infinite;
          animation:spin 1.5s infinite;
}

@-webkit-keyframes spin {
  0%,100% {-webkit-transform:rotate(0deg) scale(1)}
  50%     {-webkit-transform:rotate(720deg) scale(0.6)}
}

@-moz-keyframes spin  {
  0%,100% {-moz-transform:rotate(0deg) scale(1)}
  50%     {-moz-transform:rotate(720deg) scale(0.6)}
}
@-o-keyframes spin  {
  0%,100% {-o-transform:rotate(0deg) scale(1)}
  50%     {-o-transform:rotate(720deg) scale(0.6)}
}
@keyframes spin  {
  0%,100% {transform:rotate(0deg) scale(1)}
  50%     {transform:rotate(720deg) scale(0.6)}
}



.selected_list_topic {
  font-size: 14px;
  color: #6f031e;
  text-align: center;
  margin-bottom: 17px;
  font-weight: bold;
  text-decoration: underline;
}

.box_assign_list {
  border: 1px solid #ded6d6;
  padding: 12px 24px;
  background: white;
  border-radius: 8px;
}

.all_page_loder {
  position: fixed;
  background: rgba(255, 255, 255, 0.97);
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 9999;
}
.all_page_loder_img {
  width: 100px;
  height: auto;
  /* background: rgba(255, 255, 255, 0.9); */
  top: 43vh;
  left: 46vw;
  position: absolute;
  /*box-shadow: 0px 0px 17px -12px;*/
}

.gole_a_sen_main{
  height: 103px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

/*------------------------
*/

.link-disable{
  pointer-events: none;
  cursor: not-allowed;

}


/*---------------------------------------noti drop--------------------*/
ul.dropdown-cart{
  min-width:250px;
}
ul.dropdown-cart li .item{
  display:block;
  padding:3px 10px;
  margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
  background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left{
  float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
  float:left;
}
ul.dropdown-cart li .item-left span.item-info{
  margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
  display:block;
}
ul.dropdown-cart li .item-right{
  float:right;
}
ul.dropdown-cart li .item-right button{
  margin-top:14px;
}