body {
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #00539e;
  outline: 1px solid slategrey;
}

.wanted-ads-b::-webkit-scrollbar-thumb{
  background-color: #30a808;
}

img,svg {
	width: 100%;
}

.container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.top-bar {
  background-color: #2e3841;
  font-size: 12px;
  padding: 5px;
  color: #fff;
  display: flex;
}

.top-bar .email {
  float: left;
}

.top-bar .email a, .top-bar .contact-info .email, .top-bar .contact-info .phone {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.top-bar .email a:hover {
  color: #00539e
}

.top-bar .email .ic, .top-bar .sc-info a {
  color: #fff;
}

.top-bar .email .ic, .top-bar .sc-info a:hover {
  color: #00539e;
}

.top-bar .email .ic, .top-bar .sc-info a:hover .ic {
  color: #00539e;
}

.top-bar .email .ic, .top-bar .sc-info .ic {
  color: #fff;
  display: inline-block;
  /*height: 20px;*/
  width: 20px;
}

.top-bar .sc-info li:nth-child(1),
.top-bar .sc-info li:nth-child(2),
.top-bar .sc-info li:nth-child(3),
.top-bar .sc-info li:nth-child(4) {
 margin-left: 20px;
}

.top-bar .sc-info {
  float: right;
}

.top-bar .sc-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-bar .sc-info ul > li {
  display: inline-block;
  margin-left: 5px;
}

.cbnv-search {
  width: 100%;
  /*margin: 10px auto 10px;*/
}

.cbnv-search #search_form {
  display: inline-flex;
  margin-bottom: 0;
}
.cbnv-search #search_formnav {
  display: inline-flex;
  margin-bottom: 0;
}

.cbnv-search .form-control {
  height: 44px;
  line-height: 1.42857;
  padding: 6px 12px;
}
.cbnv-search .main-box {
  background-color: rgba(255,255,255,0.9);
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 44px;
  -webkit-border-bottom-left-radius: 44px;
  -moz-border-radius-topleft: 44px;
  -moz-border-radius-bottomleft: 44px;
  border-top-left-radius: 44px;
  border-bottom-left-radius: 44px;
  box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
  color: #555;
  display: block;
  font-size: 12px;
  height: 35px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
  width: 100%;
}

.cbnv-search .btn-primary.right-radius {
  -webkit-border-top-right-radius: 44px;
  -webkit-border-bottom-right-radius: 44px;
  -moz-border-radius-topright: 44px;
  -moz-border-radius-bottomright: 44px;
  border-top-right-radius: 44px;
  border-bottom-right-radius: 44px;
  padding: 8px 25px;
  background: #fcc00b none repeat scroll 0 0;
  box-shadow: 0 0 0 1px #fcc00b inset;
  border-color: #fcc00b;
  height: 35px;
}

.cbnv-search .btn-primary.right-radius:hover {
  background: #2f3841 none repeat scroll 0 0;
  color: #fff;
  box-shadow: 0 0 0 1px #2f3841 inset;
  border-color: #2f3841;
}

.cbnv-search .btn {
  padding: 8.2px 12px;
  font-size: 15px;
  height: 44px;
}

.input-group-btn .btn-group {
  display: flex!important;
}

.navbar {
  box-shadow: 1px 1px 10px #2f3841;
  z-index: 9;
}

.navbar-brand {
  width: 200px;
  padding: 0;
}

.navbar-nav {
  margin-left: auto;
}

.bg-white {
  background-color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #222;
  text-transform: uppercase;
  padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.all {
  background-color: #00539e;
  border-radius: 5px;
  /*box-shadow: 1px 1px 5px #2f3841;*/
  padding: 7px 20px;
  margin-left: 10px;
  font-size: 12px;
  display: block !important;
}

.navbar-light .navbar-nav .nav-link.all:hover {
  color: #00539e;
  background-color: #fff;
}

.navbar-light .navbar-nav .nav-link.book {
  background-color: #2f3841;
  border-radius: 5px;
  /*box-shadow: 1px 1px 5px #2f3841;*/
  padding: 7px 10px;
  color: #fff;
  margin-left: 10px;
  font-size: 12px;
  display: block !important;
}

.navbar-light .navbar-nav .nav-link.book:hover {
  color: #00539e;
  background-color: #222;
}

span.sin {
  font-size: 12px;
}

.navbar-light .navbar-nav li.nav-item.h_ftr_link {
  display: none !important;
}

.navbar-light .navbar-nav li.nav-item.h_ftr_link a {
  color: #2f3841;
}

.navbar-light .navbar-nav li.nav-item.h_ftr_link a:hover {
  color: #00539e;
}

/*
################
End Header
################
*/


.mob_main_btn ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mob_main_btn ul li {
  display: inline-flex;
}

.mob_main_btn ul li a {
  color: #222;
  text-transform: uppercase;
  padding: 10px;
}

.mob_main_btn ul li a {
  color: #222;
}

.mob_main_btn ul li .all {
  background-color: #00539e;
  border-radius: 5px;
  /*box-shadow: 1px 1px 5px #2f3841;*/
  padding: 8px 25px;
  font-size: 12px;
  margin-left: 0px;
}

.mob_main_btn ul li .all:hover {
  color: #00539e;
  background-color: #222;
}

.mob_main_btn ul li .book {
  background-color: #2f3841;
  border-radius: 5px;
  /*box-shadow: 1px 1px 5px #2f3841;*/
  padding: 8px 10px;
  margin-left: 5px;
  font-size: 12px;
  color: #fff;
}

.mob_main_btn ul li .book:hover {
  color: #00539e;
  background-color: #222;
}

.mob_main_btn {
  display: none;
}

.fil_location, .fil_category {
  background-color: #2f3841;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
}

.fil_location {
  margin: 0 15px;
}

.fil_location span, .fil_category span {
  margin-left: 10px;
}


/*
################
End Mobile Main Button
################
*/

#slider_cat {
  background-image: url(../img/top-bg.jpg);
  background-size: cover;
  position: relative;
  /*height: 85vh;*/
}

#slider_cat .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}

#slider_cat .horiz_cat {
  padding: 3pc 0 0;
}

#slider_cat .horiz_cat ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#slider_cat .horiz_cat ul li.sin_cat {
  display: inline-block;
  padding: 0 2px;
  width: 9.7444444%;
  text-align: center;
  margin-bottom: 40px;
}

#slider_cat .horiz_cat ul li.sin_cat a {
  display: block;
  padding: 5px;
  border-radius: 5px;
}

#slider_cat .horiz_cat ul li.sin_cat a:hover {
  background-color: #00539e;
  /*box-shadow: 1px 2px 10px #8e8e8e;*/
}

#slider_cat .horiz_cat ul li.sin_cat .cat_img {
  width: 50%;
  margin: auto;
}

#slider_cat .horiz_cat ul li.sin_cat img {
  width: 100%;
}

#slider_cat .horiz_cat ul li.sin_cat p {
  color: #000;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 13px;
  display: inline-table;
}

#slider_cat .horiz_cat ul li.sin_cat span {
  color: #8e8e8e;
  font-size: 12px;
}

#slider_cat .horiz_cat .quick_link a {
  color: #fff;
  background-color: #00539e;
  padding: 15px 50px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  /*box-shadow: 1px 2px 10px #8e8e8e;*/
  margin-bottom: 20px;
  display: inline-flex;
}

#slider_cat .horiz_cat .quick_link a:hover {
  color: #00539e;
  background-color: #fff;
}

/*
################
End Top Categories
################
*/

#mobile_info {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  position: relative;
  /*height: 50vh;*/
  padding: 15vh 10vh;
}

#mobile_info h4 {
  text-transform: uppercase;
  color: #2f3841;
  font-size: 50px;
  margin-bottom: 0;
}

#mobile_info h1 {
  color: #2f3841;
  font-weight: 300;
  margin-top: 0px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

#mobile_info h2 {
  color: #2f3841;
  font-weight: 300;
  margin-top: 0px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#mobile_info .store {
  width: 180px;
  display: inline-block;
  margin-right: 10px;
}

/*
################
End Mobile Info
################
*/

#add_service {
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  position: relative;
  /*height: 55vh;*/
  padding: 20vh 5vh;
}

#add_service h1 {
  color: #2f3841;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

#add_service h1 > span {
  font-weight: 600;
}

#add_service a {
  color: #fff;
  background-color: #00539e;
  padding: 15px 50px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  /*box-shadow: 1px 2px 10px #8e8e8e;*/
}

#add_service a:hover {
  color: #00539e;
  background-color: #fff;
}

/*
################
All Banner Ad
################
*/

.banner_iframe, iframe body {
  margin: 0;
  width: 100%;
  border: 0;
}

.hero_qwert .banner_iframe {
  height: 100px;
}

.qwert_link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
################
End Add Service
################
*/

#footer {
  padding-top: 30px;
  background-color: #2f3841;
}

#footer .ftr_logo {
  width: 300px;
  margin: auto;
}

#footer .store {
  width: 150px;
  display: inline-block;
  margin-right: 10px;
}

#footer .ftr_link {
  color: #fff;
  margin-top: 20px;
}

#footer .ftr_link p {
  font-size: 18px;
  margin-bottom: 0;
}

#footer .ftr_link .hr {
  border: 1px solid #00539e;
  margin: 10px 0;
  width: 20%;
}

#footer .ftr_link ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer .ftr_link ul li {
  padding: 5px 0;
}

#footer .ftr_link ul li a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

#footer .ftr_link ul li a:hover {
  color: #00539e;
}

#footer .ftr_link .ic {
  display: inline-block;
  color: #2f3841;
  margin-right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 8px;
  vertical-align: middle;
  background-color: #00539e;
}

#footer .ftr_link ul li a:hover .ic {
  background-color: #fff;
}

#footer .footer-lower {
  background-color: #00539e;
  margin-top: 20px;
  padding: 5px 0;
  font-size: 12px;
}

#footer .footer-lower a {
  color: #000;
  font-weight: 600;
}

#footer .footer-lower a:hover {
  color: #925252;
}
#footer p {
  color: #fff;
}




