/*RESPONSIVE*/



/* -- min-width: 319 to max-width: 769 */
@media only screen and (min-width: 319px) and (max-width: 769px) {  
  
}

@media only screen and (min-width: 1200px) and (max-width: 1420px) {  
  
}

@media only screen and (min-width: 1620px) { 

}


@media only screen and (max-width: 1600px) { 
  body.si_lang p,  body.si_lang a,  body.si_lang label, body.si_lang li, body.si_lang .ui.search, body.si_lang .ui.search.dropdown > .text,
  body.ta_lang p,  body.ta_lang a,  body.ta_lang label, body.ta_lang .ui.search, body.ta_lang #slider_cat .horiz_cat ul li.sin_cat p {
    font-size: 11px !important;
  }
  body.si_lang h3, body.ta_lang h3 {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1430px) { 
  #slider_cat .horiz_cat ul li.sin_cat {
    width: 10.744444%;
  }
}

@media only screen and (max-width: 1199.98px) { 
  body.si_lang p,  body.si_lang a,  body.si_lang label, body.si_lang li, body.si_lang .ui.search
  body.ta_lang p,  body.ta_lang a,  body.ta_lang label, body.ta_lang .ui.search, body.ta_lang #slider_cat .horiz_cat ul li.sin_cat p {
    font-size: 10px !important;
  }
  #slider_cat .horiz_cat ul li.sin_cat {
    width: 12%;
  }
  #mobile_info {
    padding: 6vh 5vh;
  }
}

@media only screen and (max-width: 991.98px) { 
  .space-5 {
    height: 2em;
  }
  .space-3 {
    height: 1em;
  }
  .navbar-nav {
    margin-top: 10px;
    text-align: center;
    display: block;
  }
  .navbar-light .navbar-nav li.nav-item {
    display: inline-flex;
    margin-bottom: 10px;
  }
  #yellow_flame {
    height: 100px;
  }
  #blue_flame {
    height: 100px;
  }
  #slider_cat .horiz_cat ul li.sin_cat {
    width: 13.8%;
  }
  #slider_cat .horiz_cat ul li.sin_cat {
    margin-bottom: 15px;
  }
  .mob_main_btn {
    display: block;
  }
  .left_filters {
    display: none;
  }
  #mobile_info {
    /*height: 32vh;*/
  }
  #add_service {
    padding: 8vh 5vh;
  }
  #mobile_info .store {
    width: 135px;
  }
  .single_qwert .right_details .cat .main_cat .cat_img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    padding: 7px;
  }
  .single_qwert .profile_form {
    width: 100%;
  }
  .user_form .cus_form.pw_chng.left {
    width: 50%;
  }
}

@media only screen and (max-width: 767.98px) {
  h1, h2, h3, h4, h5 {
    font-weight: 500;
  }
  #slider_cat .horiz_cat ul li.sin_cat {
    width: 19.5%;
  }
  .cbnv-search #search_form {
    margin: auto;
    width: 100%;
  }
  .cbnv-search #search_formnav {
    margin: auto;
    width: 100%;
  }
  .navbar-light .navbar-nav li.nav-item.h_ftr_link {
    display: block !important;
    text-align: left;
    border: 1px solid #e5e5e5;
    padding: 5px;
    border-radius: 5px;
  }
  #mobile_info, #add_service {
    padding: 2vh 0vh 3vh;
  }
  #add_service {
    height: auto;
    background: none;
  }
  #add_service::after {
    content: '';
    background: url(../img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.2;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #yellow_flame {
    height: 75px;
  }
  #blue_flame {
    height: 75px;
  }
  .outer .left_filters .all_cat .sin_cat p {
    font-weight: normal;
  }
  #slider_cat .mob_main_btn ul li:nth-child(1) {
    display: none;
  }
  .mob_main_btn ul li:nth-child(1) {
    width: 45%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    margin: 10px auto;
    /*float: left;*/
  }
  #slider_cat .mob_main_btn ul li {
    display: inline-block;
    width: 28%;
  }
  #slider_cat .mob_main_btn ul li .all, .mob_main_btn ul li .book {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .outer .left_filters .all_cat .all_cat_inr .all_cat_subset ul li.sin_cat p {
    margin-left: 20px;
  }
  .fil_location, .fil_category {
    padding: 8px 35px;
  }
  #slider_cat .horiz_cat {
    padding-top: 2pc;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block {
    margin-bottom: 10px;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block:nth-child(odd) {
    padding-left: 0;
    padding-right: 5px;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block:nth-child(even) {
    padding-right: 0;
    padding-left: 5px;
  }
  #fill_form .contact_form {
    width: 100%;
  }
}

@media only screen and (max-width: 764.98px) { 
  /* .outer .mob_main_btn ul li:nth-child(1) {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    margin: 10px auto;
  } */
  .cbn_item_outer .cbn_item_inr .qwert_block:nth-child(even) {
    padding-left: 0;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block:nth-child(odd) {
    padding-right: 0;
  }
  body.ta_lang #slider_cat .mob_main_btn ul li .all, body.ta_lang .mob_main_btn ul li .book {
    margin-bottom: 10px;
  }

  #yellow_flame {
    height: 75px;
  }
  #blue_flame {
    height: 75px;
  }
  .single_qwert .left_prof label {
    width: 40%;
  }
  .single_qwert .right_details .nm {
    text-align: center;
  }
  .single_qwert .right_details .cat .lh, .single_qwert .right_details .cat .rh {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 20px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
  }
  .single_qwert .right_details .cat .main_cat {
    margin-top: 0;
  }
  .single_qwert .right_details .cat .g_hr {
    display: none;
  }
  .single_qwert .container {
    /* min-width: 640px; */
  }
}

@media only screen and (max-width: 600.98px) {
  body.si_lang p,  body.ta_lang p {
    font-size: 11px !important;
  }
  body.si_lang a,  body.si_lang label, body.si_lang li, body.si_lang .ui.search
  body.ta_lang a,  body.ta_lang label, body.ta_lang .ui.search, body.ta_lang #slider_cat .horiz_cat ul li.sin_cat p {
    font-size: 10px !important;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .detail p.nm, .modal span, .single_qwert .right_details .nm h3 {
    font-size: 15px !important;
  }
  .top-bar .sc-info li:nth-child(1), .top-bar .sc-info li:nth-child(2), .top-bar .sc-info li:nth-child(3) {
    margin-left: 10px;
  }
  .top-bar .sc-info li:nth-child(4), .top-bar .sc-info li:nth-child(5), .top-bar .sc-info li:nth-child(6), .top-bar .sc-info li:nth-child(7),
  .top-bar .sc-info li:nth-child(8), .top-bar .sc-info li:nth-child(9) {
    display: none;
  }
  .navbar-light .navbar-nav .nav-link.all {
    padding: 8px 25px;
    margin-left: 0;
    font-size: 12px;
  }
  .navbar-light .navbar-nav .nav-link.book {
    padding: 8px 10px;
    margin-left: 5px;
    font-size: 12px;
  }
  .mob_main_btn ul li:nth-child(1), .mob_main_btn ul li:nth-child(2) {
    width: 100%;
    float: none;
  }
  #mobile_info, #add_service {
    padding: 2vh 0vh 3vh;
  }
  #slider_cat .mob_main_btn ul li {
    width: auto;
    margin-top: 5px;
  }
  #slider_cat .horiz_cat ul li.sin_cat {
    width: 24%;
    margin-bottom: 20px
  }
  .outer .left_filters .all_cat .all_cat_inr .all_cat_subset ul li.sin_cat p {
    margin-left: 0px;
  }
  .fil_location, .fil_category {
    width: 41%;
    /* width: 40%; */
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cbnv-search #search_form {
    width: 90%;
  }
  .cbnv-search #search_formnav {
    width: 100%;
  }
  .hero_qwert .banner_iframe {
    height: 60px;
  }
  #slider_cat .horiz_cat ul li.sin_cat .cat_img {
    width: 65%;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block {
    padding: 0;
    margin-bottom: 10px;
  }
  .single_qwert .container {
    /* min-width: 540px; */
  }
  .main_cat .cat_item a {
    margin-bottom: 30px;
  }
  .user_form .cus_form.pw_chng.left, .user_form .cus_form.det_chng.left {
    width: 100%;
  }
  /* .fl_img {
    width: 28px;
    height: 28px;
    padding: 4px;
    margin: 0 3px;
  } */
  .main-sub span {
    font-size: 12px;
  }
  .top_up_re_new {
    width: 100%;
    padding: 10px;
  }
  .user_profile_work_det p > span {
    width: auto;
  }
}

@media (max-width: 575.98px) {
  body.si_lang h3, body.ta_lang h3 {
    font-size: 13px !important;
  }
  .container {
      max-width: 740px;
  }
  .single_qwert .container {
    /* min-width: 100%; */
    max-width: 90%;
  }
  .single_qwert .right_details .cat .lh, .single_qwert .right_details .cat .rh {
    flex: 0 0 100%;
    max-width: 100%;
    border: none;
    box-shadow: 1px 0px 5px #dadada;
    padding: 10px;
    text-align: center;
  }
  .bass-rating-text {
    text-align: center !important;
  }
  .single_qwert .right_details .cat .main_cat .cat_img {
    width: 55px;
    height: 55px;
    margin-right: 0px;
    padding: 7px;
    display: block;
    margin: auto;
  }
  .single_qwert .right_details .cat .main_cat {
    margin-bottom: 5px;
  }
  .single_qwert .right_details .share_view .ic {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-right: 5px;
  }
  .single_qwert .profile_form {
    padding: 0px;
    margin: 0;
  }
}

@media only screen and (max-width: 480.98px) { 
  #footer .ftr_logo {
    width: 225px;
  }
  #footer .store {
    width: 100px;
  }
  #footer .ftr_link p {
    font-size: 15px !important;
  }
  #footer .ftr_link ul li a {
    font-size: 12px;
  }
  .mob_main_btn {
    padding: 0;
  }
  #yellow_flame {
    height: 45px;
  }
  #blue_flame {
    height: 45px;
  }
  #slider_cat .container-fluid, #slider_cat .horiz_cat {
    padding-right: 5px;
    padding-left: 5px;
  }
  #slider_cat .horiz_cat {
    padding: 2pc 0 0;
  }
  #slider_cat .horiz_cat .quick_link a {
    padding: 10px 40px;
  }
  #mobile_info h4 {
    font-size: 30px;
  }
  #mobile_info h1 {
    font-size: 14px;
  }
  #mobile_info h2 {
    font-size: 13px;
  }
  #mobile_info .store {
    width: 110px;
  }
  #mobile_info {
    height: auto;
  }
  #add_service h1 {
    font-size: 20px;
  }
  #add_service a {
    padding: 10px 40px;
  }
  .quick_view .photo {
    top: 30px;
  }
  .quick_view .modal-header {
    margin-bottom: 40px;
  }
  .login-pg .panel .panel-body .pright form {
    width: 100%;
  }
  .my_service .full_category, .updt34 {
    padding: 10px;
  }
  .upload-category-preview {
    display: block;
  }
  .upload-category-preview:last-child {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 380.98px) {
  body.si_lang p,  body.si_lang a,  body.si_lang label, body.si_lang li, body.si_lang .ui.search
  body.ta_lang p,  body.ta_lang a,  body.ta_lang label, body.ta_lang .ui.search, body.ta_lang #slider_cat .horiz_cat ul li.sin_cat p {
    font-size: 9px !important;
  }
  .text-left {
    text-align: center!important;
  }
  .navbar-brand {
    width: 150px;
  }
  .navbar-light .navbar-nav li.nav-item {
    display: block;
  }
  .navbar-light .navbar-nav .nav-link.book {
    margin-left: 0;
  }
  #footer .ftr_link .hr {
    margin: 10px auto;
  }
  #footer .ftr_link ul {
    margin-bottom: 20px;
  }
  #footer .ftr_link ul li {
    padding-top: 0;
  }
  #footer .ftr_link .ic {
    width: auto;
    height: auto;
    background-color: transparent;
    color: #fff;
    margin-right: 5px;
    font-size: 10px;
    padding: 0px;
  }
  #footer .ftr_link .text-left:nth-child(4) ul li {
    display: inline-table;
    margin-right: 5px;
  }
  .fil_location, .fil_category {
    padding: 8px 15px;
    font-size: 12px;
  }
  .mob_main_btn ul li .all, .mob_main_btn ul li .book {
    padding: 5px 10px;
    font-size: 10px;
  }
  #slider_cat .horiz_cat ul li.sin_cat {
    width: 32%;
  }
  .btn_grp {
    display: block;
  }
  .btn_grp .btn_sub {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .ext-worklist-maincat-hide2{
    display: none;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .detail p.nm {
    font-size: 13px !important;
    margin-bottom: 2px;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .detail .main_cat p {
    font-size: 10px;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .prof_img {
    height: 85px;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .detail .pl p {
    font-size: 10px;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .detail .main_cat .cat_img {
    /* width: 20px;
    height: 20px; */
    transform: scale(0.7);
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .detail .main_cat {
    margin: 5px 0;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .detail .o_wrk ul li img {
    width: 15px;
  }
  .cbn_item_outer .cbn_item_inr .qwert_block .sin_block .fx_cl {
    width: 30px;
    height: 30px;
    padding: 6px 8px;
    font-size: 15px;
  }
  .main_cat .cat_item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .p-1-350px{
    padding: 5px !important;
  }
  p {
    font-size: 10px !important;
}
.notify_alerts_approved {
  padding: 5px 8px !important;
}

}