.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0
}

.multiselect-container .input-group {
  margin: 5px
}

.multiselect-container>li {
  padding: 5px;
  color: #ccc;
  border: 1px solid #eee;

}

.multiselect-container>li>a.multiselect-all label {
  font-weight: bold
}

.multiselect-container>li>label.multiselect-group {
  margin: 0;
  padding: 3px 20px 3px 10px;
  height: 100%;
  font-weight: bold;
}

.multiselect-container>li>a>label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: normal
}

.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
  margin: 0
}

.multiselect-container>li>a>label>input[type="checkbox"] {
  margin-bottom: 5px
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}

.row {
  margin-bottom: 20px;
}

.btn {
  /*padding: 10px 16px;*/
  /*font-size: 18px;*/
  /*line-height: 1.33;*/
  /*border-radius: 6px;*/
}

.cat_img_sub {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-color: #00539e;
  border-radius: 50%;
  padding: 5px;
}

.cat_img_sub img {
  filter: invert(1);
}

.cat_spec_sub h6 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}